
@font-face {
    font-family: 'Avenir-light'; 
    src: url('../Fonts/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-book'; 
    src: url('../Fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman'; 
    src: url('../Fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-medium'; 
    src: url('../Fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* ----------------------- Main --------------------------- */

*{
    font-family: 'Avenir-book';
}


.about-contact-home-link{
    margin-left: 1rem;
    /* margin-bottom: 5rem; */
    margin-top: 0;
    transform: translateY(-90%);
}

.about-contact-link-to-home {
    text-decoration: none;  
  }

.about-contact-link-to-home h1{
    padding: 0.5rem 0.5rem;
    position: relative;
    background-color: /*#535a63 */ /*rgb(72, 72, 72)*/ white;
    border: 1px solid black;
    color: black;
    border-radius: 25px;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#closingTag{
    opacity:0;
}


.about-contact-link-to-home:focus, .about-contact-link-to-home:active {
    outline: none;       
    text-decoration: none;
}


/* Underline effect on hover and click */
.about-contact-link-to-home h1:after {
    content: '';
    position: absolute;
    bottom: 0.4rem;
    left: 14px;
    width: 0;
    transform: translateX(-2%);
    height: 1px; 
    background-color: /*rgb(255, 255, 255)*/ black;
    transition: width 0.3s ease; 
  }

  .about-contact-link-to-home h1:hover::after {
    width: 80%;
  }

.about-contact-home-link {
   padding-top: 7rem;
    /* color: rgb(96, 96, 96); */
}

.about-contact-home-link h1{
    cursor: pointer !important;
}




.about-me{ 
    width: 100%;
    padding-top: 10rem;
}

.heading-aboutMe{
    width: 65%;
    margin-top: 0.2rem;
    margin-bottom: 3rem;
    transform: translateX(10%);
}

.heading-aboutMe p{
    font-family: 'Avenir-medium';
    font-size: 1.9rem;
    margin-right: 0;
}

.hText{
    opacity: 0;
}

.about-me p{ 
    color: rgb(40, 40, 40);
}



.aboutMe-first-paragraph{
    width: 100%;
    background: linear-gradient(to bottom, white, rgb(235, 238, 239));
}

.about-flex p{
    width: 80%;
    transform: translateY(30%);
    /* border: 4px solid pink; */
    margin: 0 auto;
    text-align: left;
    font-family: 'Avenir-light';
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.about-flex{
    display: flex;
    /* border: 1px solid red; */
}

.about-p{
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translateX(5%);
}

.about-flex img{
    /* height: 10rem; */
    width: 45%;
    height: 50rem;
    scale: 0.9;
    /* margin-left: 2rem; */
    margin: 0 auto;
    /* border: solid 4px green; */
    /* transform: translateX(-6%); */
}

.about-p p{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 4rem;
}

.aboutMe-connection{
    width: 100%;
    /* background-color: rgb(209, 217, 220); */
    padding-top: 10rem;
    padding-bottom: 10rem;
}


.aboutMe-connection p{
    font-size: 1.8rem;
    width: 60%;
    margin: 0 auto;
    transform: translateY(50%);
}




/* ---------  Media Query -------------*/


/*smaller phones */
@media (min-width: 100px) and (max-width: 380px) {
    .about-contact-home-link{
        margin-left: 1rem;
        margin-top: 0.5rem;
        transform: translateY(0%);
        margin-bottom: 4rem;
    }

    .about-contact-link-to-home h1{
        padding: 0.2rem 0.2rem;
        width: 6.5rem;
        font-size: 0.8rem;
    }


    .heading-aboutMe{
        width: 80%;
        padding-top: 0;
        padding-bottom: 2rem;
        /* margin-bottom: 1.5rem; */
        transform: translateX(0%);
        margin: 0 auto;
    }

    .heading-aboutMe p{
        font-size: 1.2rem;
        margin: 0 auto;
    }

    .about-me{ 
        padding-top: 0.5rem;
    }

    .about-flex{
        display: flex;
        flex-direction: column;
    }

    .about-flex p{
        width: 80%;
        transform: translateY(0%);
        margin: 0 auto;
        text-align: left;
        font-size: 0.8rem;
        line-height: 1.8rem;
    }

    .about-p{
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(0%);
    }

    .about-p p{
        display: block;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }
    
    .about-flex img{
        width: 90%;
        height: 30rem;
        scale: 0.9;
        margin: 0 auto;
    }

    .aboutMe-first-paragraph{
        width: 100%;
        padding-bottom: 2rem;
        background: linear-gradient(to bottom, white, rgb(235, 238, 239));
    }

    .aboutMe-connection{
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    
    .aboutMe-connection p{
        font-size: 1rem;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        transform: translateY(50%);
    }    
    
    
}



/* phones */
@media (min-width: 381px) and (max-width: 600px) {
    .about-contact-home-link{
        margin-left: 1rem;
        margin-top: 0.5rem;
        transform: translateY(0%);
        margin-bottom: 4rem;
    }

    .about-contact-link-to-home h1{
        padding: 0.2rem 0.2rem;
        width: 6.5rem;
        font-size: 0.8rem;
    }

    .heading-aboutMe{
        width: 80%;
        padding-top: 0;
        padding-bottom: 2rem;
        /* margin-bottom: 1.5rem; */
        transform: translateX(0%);
        margin: 0 auto;
    }

    .heading-aboutMe p{
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .about-me{ 
        padding-top: 0.5rem;
    }

    .about-flex{
        display: flex;
        flex-direction: column;
    }

    .about-flex p{
        width: 80%;
        transform: translateY(0%);
        margin: 0 auto;
        text-align: left;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .about-p{
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(0%);
    }

    .about-p p{
        display: block;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }
    
    .about-flex img{
        width: 90%;
        height: 30rem;
        scale: 0.9;
        margin: 0 auto;
    }

    .aboutMe-first-paragraph{
        width: 100%;
        padding-bottom: 2rem;
        background: linear-gradient(to bottom, white, rgb(235, 238, 239));
    }

    .aboutMe-connection{
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    
    .aboutMe-connection p{
        font-size: 1rem;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        transform: translateY(50%);
    }    
    
}



/* Tablets */
@media (min-width: 601px) and (max-width: 768px) {
    .about-contact-home-link{
        margin-left: 1rem;
        margin-top: 0.5rem;
        transform: translateY(0%);
        margin-bottom: 4rem;
    }

    .about-contact-link-to-home h1{
        padding: 0.2rem 0.2rem;
        width: 6.5rem;
        font-size: 0.8rem;
    }

    .heading-aboutMe{
        width: 80%;
        padding-top: 0;
        padding-bottom: 2rem;
        /* margin-bottom: 1.5rem; */
        transform: translateX(0%);
        margin: 0 auto;
    }

    .heading-aboutMe p{
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .about-me{ 
        padding-top: 0.5rem;
    }

    .about-flex{
        display: flex;
        flex-direction: column;
    }

    .about-flex p{
        width: 80%;
        transform: translateY(0%);
        margin: 0 auto;
        text-align: left;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .about-p{
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(0%);
    }

    .about-p p{
        display: block;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }
    
    .about-flex img{
        width: 90%;
        height: 30rem;
        scale: 0.9;
        margin: 0 auto;
    }

    .aboutMe-first-paragraph{
        width: 100%;
        padding-bottom: 2rem;
        background: linear-gradient(to bottom, white, rgb(235, 238, 239));
    }

    .aboutMe-connection{
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    
    .aboutMe-connection p{
        font-size: 1rem;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        transform: translateY(50%);
    }    
}



@media (min-width: 769px) and (max-width: 900px) {
    .about-contact-home-link{
        margin-left: 1rem;
        margin-top: 0.5rem;
        transform: translateY(0%);
        margin-bottom: 4rem;
    }

    .about-contact-link-to-home h1{
        padding: 0.3rem 0.3rem;
        width: 7.5rem;
        font-size: 1rem;
    }

    .heading-aboutMe{
        width: 80%;
        padding-top: 0;
        padding-bottom: 2rem;
        /* margin-bottom: 1.5rem; */
        transform: translateX(0%);
        margin: 0 auto;
    }


    .heading-aboutMe p{
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .about-me{ 
        padding-top: 0.5rem;
    }

    .about-flex{
        display: flex;
        flex-direction: row;
    }

    .about-flex p{
        width: 80%;
        transform: translateY(0%);
        margin: 0 auto;
        text-align: left;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .about-p{
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(0%);
    }

    .about-p p{
        display: block;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }
    
    .about-flex img{
        width: 90%;
        height: 30rem;
        scale: 0.9;
        margin: 0 auto;
    }

    .aboutMe-first-paragraph{
        width: 100%;
        padding-bottom: 2rem;
        background: linear-gradient(to bottom, white, rgb(235, 238, 239));
    }

    .aboutMe-connection{
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    
    .aboutMe-connection p{
        font-size: 1rem;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        transform: translateY(50%);
    }    
}



@media (min-width: 901px) and (max-width: 1000px) {
    .heading-aboutMe{
        width: 70%;
        padding-top: 0;
        padding-bottom: 2rem;
        /* margin-bottom: 1.5rem; */
        transform: translateX(0%);
        margin: 0 auto;
    }

    .aboutMe-connection p{
        width: 70%;
    } 
}