@font-face {
    font-family: 'Avenir-light'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-book'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-medium'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* ----------------------- Main --------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: none;
    font-family: 'Avenir-book';
}

.amaranth-home-link{
    margin-left: 1rem;
    margin-bottom: 5rem;
}

.amaranth-link-to-home{
    text-decoration: none;
}


.amaranth-link-to-home h1{
    padding: 0.5rem 0.5rem;
    position: relative;
    border: 1px solid black;
    background-color: /*#535a63 */ /*rgb(72, 72, 72)*/ white;
    color: rgb(41, 41, 41);
    border-radius: 25px;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.amaranth-link-to-home:focus, .amaranth-link-to-home:active {
    outline: none;       
    text-decoration: none;
}


.amaranth-back{
    padding-top: 1rem;
}

/* Underline effect on hover and click */
.amaranth-link-to-home h1:after {
    content: '';
    position: absolute;
    bottom: 0.4rem;
    left: 14px;
    width: 0;
    transform: translateX(-2%);
    height: 1px; 
    background-color: rgb(41, 41, 41);
    transition: width 0.3s ease; 
  }

  .amaranth-link-to-home h1:hover::after {
    width: 80%;
  }

.amaranth-home-link {
   padding-top: 7rem;
    /* color: rgb(96, 96, 96); */
}

.amaranth-home-link h1{
    cursor: pointer !important;
}

/* .amaranth-back .navigation {
    background-color: #060606; /* Custom navbar color for Amaranth page 
  } */

.heading{
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.heading hr{
    /* width: 60%; */
    border: 0.01rem solid #89898983;
}
  
.heading h2{
    font-size: 5rem;
    font-weight: 600;
    color:#171717;
}

.project-about-section {
    display: flex;
    align-items: top;
}

.project-about-section p{
    color:rgb(40, 40, 40);
}

.about-amaranth{
    width: 60%;
}

.about-amaranth p{
    width: 80%;
}

.about-amaranth hr{
    width: 80%;
}

.my-role{
    margin-top: 0;
    padding-top: 0;
}

.role{
    display: block;
    width: 40%;
}

.role-heading{
    color:#898989;
    font-size: 0.9rem;
    padding-top: 4rem;
}

.role hr{
    width: 50%;
}

.horizontal-line{
    padding-top: 1.5rem;
}

.role-t{
    padding-top: 1.5rem;
}

.arrow{
    width: 1.1rem;
    position: absolute;
    right: 20%;
    transform: rotate(-50deg);
    filter: invert(1);
}


.amaranth-site{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color:  rgb(43, 93, 111);
    /* background-color: rgb(219, 219, 219); */
    color: rgb(247, 247, 247);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transform: translateY(-30%);
    position: relative;
    z-index: 2;
}

.amaranth-visit-site{
    transform: translateX(-40%);
    margin-top: 5rem;
    /* transform: translateY(30%); */
    padding-right: 5rem;
    position: absolute;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 1; 
    overflow: visible;
}

.WebGL{
    margin: 0 auto;
    display: block;
    /* margin-top: 0.5rem; */
    width: 100%;
  /* height: 80vh; /* This will keep the canvas full height but fixed 
  position: relative;
  overflow: hidden; */
}

.amaranth-model{
    /* background-color: antiquewhite; */
    margin: 0 auto;
    margin-bottom: 15rem;
    margin-top: 10rem;
}

.amaranth-problem{
    display: flex;
    background-color: /*rgb(138, 162, 171)*/ #e8e9ea;
}

.amaranth-problem h2,
.amaranth-problem p{
    color:rgb(40, 40, 40);
}

/* .old-amaranth p{
    width: 50%;
    margin-left: auto;
    text-align: left;
    font-size: 1.1rem;
    padding-right: 5rem;
} */

.amaranth-text{
    display: flex;
    flex-direction: column;
}

.amaranth-old-website{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    border: /*#bcbcbc*/ #a9b3b8 5px solid;
    margin-left: 2rem;
    border-radius: 2%;
}

.A-vid{
    width: 50%;
    display: flex;
}

.A-new-vid{
    width: 50%;
    display: flex;
}

.amaranth-new-website{
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    border: /*#bcbcbc*/ #a9b3b8 5px solid;
    margin-right: 2rem;
    border-radius: 2%;
}


.old-amaranth{
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: /*rgb(138, 162, 171)*/ #e8e9ea;
    display: flex;
    flex-direction: column;
}

.new-amaranth{
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: /*rgb(138, 162, 171)*/ rgb(218, 218, 218);
    flex-direction: column;
}

.old-amaranth p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 5rem;
    font-size: 1.1rem;
    /* text-align: center; */
}


.old-amaranth h2{
    padding: 2rem;
    font-size: 2rem;
}

.new-amaranth h2{
    padding: 2rem;
    font-size: 2rem;
    margin-left: auto;
}

.top-section{
    display: flex;
}

.amaranth-top-section{
    display: flex;
    justify-content: gap;
    align-items:center;
}

.paragraph-amaranth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.paragraph-amaranth p{
    display: flex;
    width: 80%;
    font-size: 1.1rem;
}


/* --------- Mobile devices --------- */
.mobile-devices{
    display: flex;
    height: 100vh;
    background-color: /*#4e4e4e */ rgb(218, 218, 218);
}

.responsive-layout{
    height: auto;
    background-color: /*#4e4e4e*/ rgb(218, 218, 218);
}

.responsive-layout h1{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    color:rgb(41, 41, 41);
    padding-top: 4rem;
}




/*--------- Media queries ----------*/

/* phones */
@media (min-width: 320px) and (max-width: 600px) {
    .amaranth-home-link{
        margin-left: 1rem;
        margin-bottom: 3rem;
    }    
    
    .amaranth-link-to-home h1{
        padding: 0.3rem 0.3rem;
        width: 7rem;
        font-size: 0.8rem;
    }

    .amaranth-back{
        padding-top: 1rem;
    }

    .amaranth-home-link {
        margin-top: 0rem;
    }

    .heading{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    #heading-h{
        font-size: 2rem;
        font-weight: 600;
    }

    .project-about-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .about-amaranth {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
    .about-amaranth p {
        width: 100%;
        padding-top: 2rem;
    }
    
    .about-amaranth hr {
        width: 100%;
    }
    
    .my-role {
        padding-top: 2rem;
        width: 100%; 
        box-sizing: border-box;
    }
    
    .role-heading {
        font-size: 0.8rem;
    }
    
    .role hr {
        width: 100%;
    }
    
    .role-t {
        font-size: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
    }

    .arrow{
        width: 0.5rem;
        right: 0%;
        transform: rotate(-50deg);
    }
    
    
    .amaranth-site{
        width: 8rem;
        height: 8rem;
        transform: translateY(-40%);
        transform: translateX(100%);
    }
    
    .amaranth-visit-site{
        margin-top: 5rem;
        padding-right: 5rem;
        position: absolute;
        cursor: pointer;
        position: absolute;
        right: 0;
        z-index: 1; 
        overflow: visible;
    }

    .amaranth-site p{
        font-size: 0.8rem;
    }

    /* 3d model - still busy */

    .amaranth-problem h2{
        font-size: 2rem;
    }

    .paragraph-amaranth p{
        margin-right: auto;
        margin-left: 2rem;
    }

    .new-amaranth h2{
        margin-right: auto;
        padding-left: 0;
        margin-left: 2rem;
    }

    .amaranth-problem p{
        font-size: 0.8rem;
    }

    .top-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 1rem;
    }

    .A-vid{
        width: 85%;
        margin-left: 2rem;
    }

    .top-section video{
        width: 100%;
        height: 100%;
    }

    .amaranth-old-website{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border: /*#bcbcbc*/ #a9b3b8 3px solid;
    }

    .old-amaranth{
        display: flex;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    

    .old-amaranth p{
        margin-top: 1.5rem;
        width: 100%;
        padding-left: 2rem;
        font-size: 0.8rem;
    }

    .new-amaranth{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .amaranth-top-section{
        display: flex;
        flex-direction: column;
    }

        
    .paragraph-amaranth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .A-new-vid{
        width: 85%;
        margin-left: 2rem;
        margin-top: 1rem;
    }


    .paragraph-amaranth p{
        display: flex;
        width: 80%;
        font-size: 0.8rem;
    }

    
    .A-new-vid{
        padding-left: 0;
        margin-left: 0;
    }

    .amaranth-new-website{
        width: 100%;
        height: 100%;
        margin-right: 2rem;
    }


    /* --------- Mobile devices - still busy --------- */
    .mobile-devices{
        display: flex;
        height: 100vh;
        width: 90vw;
        background-color: /*#4e4e4e */ rgb(218, 218, 218);
    }

    .responsive-layout{
        height: auto;
        background-color: /*#4e4e4e*/ rgb(218, 218, 218);
    }

    .responsive-layout h1{
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 4rem;
    }

    .mobile-amaranth{
        height: 100vh;
        width: 80vw;
    }
     


    
}

/* Tablets */
@media (min-width: 601px) and (max-width: 768px) {
    .amaranth-home-link{
        margin-left: 1rem;
        margin-bottom: 3rem;
    }    
    
    .amaranth-link-to-home h1{
        padding: 0.3rem 0.3rem;
        width: 7rem;
        font-size: 0.8rem;
    }

    .amaranth-back{
        padding-top: 1rem;
    }

    .amaranth-home-link {
        margin-top: 0rem;
    }

    .heading{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    #heading-h{
        font-size: 3rem;
        font-weight: 600;
    }

    .project-about-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-amaranth {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
    .about-amaranth p {
        width: 100%;
        padding-top: 2rem;
    }
    
    .about-amaranth hr {
        width: 100%;
    }
    
    .my-role {
        padding-top: 2rem;
        width: 100%; 
        box-sizing: border-box;
    }
    
    .role-heading {
        font-size: 0.8rem;
    }
    
    .role hr {
        width: 100%;
    }
    
    .role-t {
        font-size: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
    }

    .arrow{
        width: 0.5rem;
        right: 0%;
        transform: rotate(-50deg);
    }

    .amaranth-site{
        width: 9rem;
        height: 9rem;
        transform: translateY(-40%);
        transform: translateX(100%);
    }
    
    .amaranth-visit-site{
        margin-top: 5rem;
        padding-right: 5rem;
        position: absolute;
        cursor: pointer;
        position: absolute;
        right: 0;
        z-index: 1; 
        overflow: visible;
    }

    .amaranth-site p{
        font-size: 0.8rem;
    }

    /* 3d model - still busy */

    .amaranth-problem h2{
        font-size: 2rem;
    }

    .paragraph-amaranth p{
        margin-right: auto;
        margin-left: 2rem;
    }

    .new-amaranth h2{
        margin-right: auto;
        padding-left: 0;
        margin-left: 2rem;
    }

    #p{
        font-size: 0.9rem;
    }

    .top-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 1rem;
    }

    .A-vid{
        width: 85%;
        margin-left: 2rem;
    }

    .top-section video{
        width: 100%;
        height: 100%;
    }

    .amaranth-old-website{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border: /*#bcbcbc*/ #a9b3b8 3px solid;
    }

    .old-amaranth{
        display: flex;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    

    .old-amaranth p{
        margin-top: 1.5rem;
        width: 100%;
        padding-left: 2rem;
        font-size: 0.8rem;
    }

    .new-amaranth{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .amaranth-top-section{
        display: flex;
        flex-direction: column;
        border: 1px solid green;
    }

        
    .paragraph-amaranth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .A-new-vid{
        width: 85%;
        margin-left: 2rem;
        margin-top: 1rem;
    }


    .paragraph-amaranth p{
        display: flex;
        width: 80%;
        font-size: 0.9rem;
    }

    
    .A-new-vid{
        padding-left: 0;
        margin-left: 0;
        transform: translateX(-2%);
    }

    .amaranth-new-website{
        width: 100%;
        height: 100%;
        margin-right: 2rem;
    }
}



@media (min-width: 769px) and (max-width: 1110px) {
    .amaranth-home-link{
        margin-left: 1rem;
        margin-bottom: 3rem;
    }    
    
    .amaranth-link-to-home h1{
        padding: 0.3rem 0.3rem;
        width: 7rem;
        font-size: 0.8rem;
    }

    .amaranth-back{
        padding-top: 1rem;
    }

    .amaranth-home-link {
        margin-top: 0rem;
    }

    .heading{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    #heading-h{
        font-size: 4rem;
        font-weight: 600;
    }

    .project-about-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-amaranth {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
    .about-amaranth p {
        width: 100%;
        padding-top: 2rem;
    }
    
    .about-amaranth hr {
        width: 100%;
    }
    
    .my-role {
        padding-top: 2rem;
        width: 100%; 
        box-sizing: border-box;
    }
    
    .role-heading {
        font-size: 0.8rem;
    }
    
    .role hr {
        width: 100%;
    }
    
    .role-t {
        font-size: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
    }

    .arrow{
        width: 0.5rem;
        right: 0%;
        transform: rotate(-50deg);
    }

    .amaranth-site{
        width: 9rem;
        height: 9rem;
        transform: translateY(-40%);
        transform: translateX(100%);
    }
    
    .amaranth-visit-site{
        margin-top: 5rem;
        padding-right: 5rem;
        position: absolute;
        cursor: pointer;
        position: absolute;
        right: 0;
        z-index: 1; 
        overflow: visible;
    }

    .amaranth-site p{
        font-size: 0.8rem;
    }

    /* 3d model - still busy */

    .amaranth-problem h2{
        font-size: 2rem;
    }

    .paragraph-amaranth p{
        margin-right: auto;
        margin-left: 2rem;
    }

    .new-amaranth h2{
        margin-right: auto;
        padding-left: 0;
        margin-left: 2rem;
    }

    #p{
        font-size: 1rem;
        margin-top: 2rem;
        width: 80%;
    }

    .top-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 1rem;
    }

    .A-vid{
        width: 70%;
        margin-left: 2rem;
    }

    .top-section video{
        width: 100%;
        height: 100%;
    }

    .amaranth-old-website{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border: /*#bcbcbc*/ #a9b3b8 3px solid;
    }

    .old-amaranth{
        display: flex;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    

    .old-amaranth p{
        margin-top: 1.5rem;
        width: 100%;
        padding-left: 2rem;
        font-size: 0.8rem;
    }

    .new-amaranth{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .amaranth-top-section{
        display: flex;
        flex-direction: column;
    }

        
    .paragraph-amaranth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .A-new-vid{
        width: 70%;
        margin-left: 2rem;
        margin-top: 1rem;
    }


    .paragraph-amaranth p{
        display: flex;
        width: 80%;
        font-size: 1rem;
    }

    
    .A-new-vid{
        padding-left: 0;
        margin-left: 0;
        margin-top: 2rem;
        transform: translateX(-17%);
    }

    .amaranth-new-website{
        width: 100%;
        height: 100%;
        margin-right: 2rem;
    }
}