@font-face {
    font-family: 'Avenir-light'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-book'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-medium'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* ----------------------- Main --------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: none;
    font-family: 'Avenir-book';
}

.home-link{
    margin-left: 1rem;
    margin-bottom: 5rem;
}

.link-to-home h1{
    padding: 1rem 0.5rem;
    border: 1px solid black;
    background-color: #363636;
    color: white;
    border-radius: 25px;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-link {
   padding-top: 7rem;
    color: rgb(96, 96, 96);
}

.home-link h1{
    cursor: pointer !important;
}

.amaranth .navigation {
    background-color: #060606; /* Custom navbar color for Amaranth page */
  }

.heading{
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.heading hr{
    /* width: 60%; */
    border: 0.01rem solid #89898983;
}
  
.heading h2{
    font-size: 5rem;
    font-weight: 600;
    color:#171717;
}

.project-about-section{
    display: flex;
    /* background-color: aqua; */
}

.about-amaranth{
    width: 60%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about-amaranth p{
    width: 80%;
    padding-top: 2rem;
}

.about-amaranth hr{
    width: 80%;
}

.role{
    padding-top: 4rem;
    /* background-color: bisque; */
    display: block;
    width: 40%;
}

.role-heading{
    color:#898989;
    font-size: 0.9rem;
}

.role hr{
    width: 50%;
}

.horizontal-line{
    padding-top: 1.5rem;
}

.role-text{
    padding-top: 1.5rem;
}

.arrow{
    width: 1.1rem;
    position: absolute;
    right: 20%;
    transform: rotate(-50deg);
    filter: invert(1);
}


.site{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color:  rgb(43, 93, 111);
    /* background-color: rgb(219, 219, 219); */
    color: rgb(247, 247, 247);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
    position: relative;
    z-index: 2;
}

.visit-site{
    transform: translateX(-40%);
    margin-top: 5rem;
    /* transform: translateY(30%); */
    padding-right: 5rem;
    position: absolute;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 1; 
}

.WebGL{
    margin: 0 auto;
    display: block;
    /* margin-top: 0.5rem; */
    width: 100%;
  /* height: 80vh; /* This will keep the canvas full height but fixed 
  position: relative;
  overflow: hidden; */
}

.amaranth-model{
    /* background-color: antiquewhite; */
    margin: 0 auto;
    margin-bottom: 15rem;
    margin-top: 10rem;
}

.amaranth-problem{
    display: flex;
    background-color: /*rgb(138, 162, 171)*/ #e8e9ea;
}

/* .old-amaranth p{
    width: 50%;
    margin-left: auto;
    text-align: left;
    font-size: 1.1rem;
    padding-right: 5rem;
} */

.amaranth-text{
    display: flex;
    flex-direction: column;
}

.amaranth-old-website{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    border: /*#bcbcbc*/ #a9b3b8 5px solid;
    margin-left: 2rem;
    border-radius: 2%;
}

.amaranth-new-website{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    border: /*#bcbcbc*/ #a9b3b8 5px solid;
    margin-right: 2rem;
    border-radius: 2%;
}


.old-amaranth{
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: /*rgb(138, 162, 171)*/ #e8e9ea;
    display: flex;
    flex-direction: column;
}

.new-amaranth{
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: /*rgb(138, 162, 171)*/ rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
}

.old-amaranth p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 5rem;
    font-size: 1.1rem;
    /* text-align: center; */
}


.old-amaranth h2{
    padding: 2rem;
    font-size: 2rem;
}

.new-amaranth h2{
    padding: 2rem;
    font-size: 2rem;
    margin-left: auto;
}

.top-section{
    display: flex;
}

.amaranth-top-section{
    display: flex;
}

.paragraph-amaranth{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
}


.paragraph-amaranth p{
    display: flex;
    width: 80%;
    font-size: 1.1rem;
}


/* --------- Mobile devices --------- */
.mobile-devices{
    display: flex;
    height: 100vh;
    background-color: /*#4e4e4e */ rgb(43, 93, 111);
}

.responsive-layout{
    height: auto;
    background-color: /*#4e4e4e*/ rgb(43, 93, 111);
}

.responsive-layout h1{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    color:rgb(246, 246, 246);
    padding-top: 4rem;
}