
@font-face {
    font-family: 'Avenir-light'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-book'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-medium'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'Avenir-book';
    color:rgb(244, 244, 244);
}


.contact-heading h1{
    font-size: 4rem;
    padding-left: 5rem;
    color: rgb(240, 240, 240);
}

.contactSection{
    margin-top: 8rem;
    background-color: rgb(22, 27, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
    margin: 0 auto;
    padding-top: 8rem;
}

.center{
    margin-top: 8rem;
    background-color: rgb(22, 27, 39);
    display: flex;
    justify-content: center;
    width: 100%;
}

.contactSection1{
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
}

.contactSection2{
    width: 40%;
    transform: translateX(40%);
    margin-top: 8.5rem;
    display: block;
    justify-content: center;
}

.contactForm hr {
    background-color: gray;
}

.contactForm .contactLine{
    background-color: rgb(85, 84, 84);
    height: 0.8px;
    border: none;
    margin: 20px 0; 
}

.firstSection{
    display: flex;
    flex-direction: column;
}

.contactForm select {
    color:gray;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5rem;
    padding-top: 2rem;
}

.contactForm input{
    margin-bottom: 2rem;
    margin-top: 0.8rem;
    background-color: rgb(22, 27, 39);
    border: none;
}

.contactForm select{
    margin-bottom: 2rem;
    background-color: rgb(22, 27, 39);
    border: none;
    margin-top: 0.8rem;
}

.contactForm textarea{
    margin-bottom: 2rem;
    background-color: rgb(22, 27, 39);
    border: none;
    margin-top: 0.8rem;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}


.submitButton{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color:  rgb(43, 93, 111);
    color: rgb(247, 247, 247);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
    /* transform: translateY(-50%); */
}

.submitButton input{
    background-color:  rgb(43, 93, 111);
    cursor: pointer;
    margin: 0 auto;
}
