
@font-face {
    font-family: 'Avenir-light'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-book'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-medium'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'Avenir-book';
}

.footer-section{
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.footer{
    background-color: rgb(22, 27, 39);
    color: rgb(247, 247, 247);
}

.footer h1{
    font-size: 5rem;
    margin-left: 1rem;
    color: rgb(240, 240, 240);
}

.connect{
    display: flex;
    padding-top: 8rem;
}

.connect img{
    margin-left: 0;
}

.mobile-svg{
    width: 8rem;
    height: 8rem;
}

.get-in-touch{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color:  rgb(43, 93, 111);
    color: rgb(247, 247, 247);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
    transform: translateY(-50%);
}

.flex-end{
    position: absolute;
    right: 20%;
}

.connect-button hr {
    z-index: 1;
    margin-top: 8rem;
    border: 0.5px solid rgb(166, 166, 166);
}

.connect-button{
    /* display: flex; */
    display:contents;
    position: relative;
    justify-content: flex-end;
    right: 20%;
    padding-bottom: 5rem;
}

.socials{
    padding-bottom: 1rem;
    padding-top: 10rem;
    position: relative;
    width: 100%;
}

.socials-section{
    text-align: left;
   width: 13.5%;
   margin-left: auto;
}

.socials p{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 1rem;
}

.socials h4{
    display: flex;
    font-size: 0.7rem;
    color: gray;
    padding-bottom: 1rem;
}

/* .socials-section{
    background-color: antiquewhite;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
} */

.socials p:hover{
    color: rgb(138, 171, 182);
}

.socials-list{
    display: flex;
    justify-content: flex-end;
}

.facebook{
    margin-left: 2rem;
    text-decoration: none;
}

.linkedin{
    text-decoration: none;
}

.connect-details{
    display: flex;
    margin-top: 3rem;
}

.number{
    margin-left: 4rem;
    padding: 1rem 2rem;
    border: 1px solid rgb(240, 240, 240);;
    border-radius: 25px;
    cursor: pointer;
}

.email{
    margin-left: 1rem;
    padding: 1rem 2rem;
    border: 1px solid rgb(240, 240, 240);;
    border-radius: 25px;
    cursor: pointer;
}

.email a{
    text-decoration: none;
    color: rgb(240, 240, 240);
}

.number a{
    text-decoration: none;
    color: rgb(240, 240, 240);
}




/* Custom Footer Style for Contact Page */
#about-footer {
    color: #fff;
    text-align: center;
    padding: 20px;
  }

#about-footer .connect{
    display: none;
}

#about-footer .connect-button{
    display: none;
}

#about-footer .connect-details{
    display: none;
}



/*--------- Media Query -------- */



/*smaller phones */
@media (min-width: 100px) and (max-width: 380px) {
    .footer h1{
        font-size: 2rem;
        margin-left: 0.3rem;
    }

    .connect{
        padding-top: 3rem;
        display: flex;
        align-items: center;
    }

    .connect img{
        margin-left: 0rem;
    }

    .mobile-svg{
        width: 2rem;
        height: 2rem;
    }

    .get-in-touch{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        font-size: 0.5rem;
    }

    .connect-button hr {
        margin-top: 7rem;
    }

    .connect-details{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .number{
        margin-left: 0rem;
        padding: 0.7rem 0.7rem;
        width: 50%;
    }
    
    .email{
        margin-left: 0rem;
        padding: 0.7rem 0.5rem;
        width: 80%;
        margin-bottom: 1rem;
    }

    .email a{
       font-size: 0.8rem;
    }
    
    .number a{
        font-size: 0.8rem;
    }

    .socials{
        padding-bottom: 1rem;
        padding-top: 4rem;
        width: 100%;
    }

    .socials p{
        font-size: 0.8rem;
    }
    
    .socials h4{
        font-size: 0.5rem;
        padding-bottom: 1rem;
    }
    
    .facebook{
        margin-left: 0.5rem;
        text-decoration: none;
    }

    .socials-section{
        width: 43%;
        /* border: 1px solid red; */
    }
    
}


/* phones */
@media (min-width: 381px) and (max-width: 600px) {
    .footer h1{
        font-size: 2rem;
        margin-left: 0.3rem;
    }

    .connect{
        padding-top: 3rem;
        display: flex;
        align-items: center;
    }
    
    .connect img{
        margin-left: 0rem;
    }

    .mobile-svg{
        width: 4rem;
        height: 4rem;
    }

    .get-in-touch{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        font-size: 0.5rem;
    }

    .connect-button hr {
        margin-top: 7rem;
    }

    .connect-details{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .number{
        margin-left: 0rem;
        padding: 0.7rem 0.7rem;
        width: 40%;
    }
    
    .email{
        margin-left: 0rem;
        padding: 0.7rem 0.5rem;
        width: 60%;
        margin-bottom: 1rem;
    }

    .email a{
       font-size: 0.8rem;
    }
    
    .number a{
        font-size: 0.8rem;
    }

    .socials{
        padding-bottom: 1rem;
        padding-top: 4rem;
        width: 100%;
    }

    .socials p{
        font-size: 0.8rem;
    }
    
    .socials h4{
        font-size: 0.5rem;
        padding-bottom: 1rem;
    }
    
    .facebook{
        margin-left: 0.5rem;
        text-decoration: none;
    }

    .socials-section{
        width: 33.5%;
    }
}


/* Tablets */
@media (min-width: 601px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 900px) {

}

@media (min-width: 901px) {

}