
@font-face {
    font-family: 'Avenir-light'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-book'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-medium'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* ----------------------- Main --------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: none;
    font-family: 'Avenir-book';
    /* color: rgb(27, 27, 27); */
}

.banner{
    width: 100vw;
    height: 100vh;
    background-color: /*rgb(106, 105, 105) #999D9E */ /*rgb(140, 140, 140)*/ rgb(138, 162, 171);
    overflow: hidden;
    position: relative;
    padding-top: 8rem;
    color: rgb(240, 240, 240);
}

.banner h3{
    font-family: 'Avenir-light';
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: center;
    position: relative;
    top: 78%;
}

.banner-text{
    max-width: 80%;
    position: relative;
    text-align: center;  
}

.scroll-div{
    width: 50%;
    height: 50%;
    border: #ffffff 5px dotted;
    border-style: dotted;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    transform: translateY(50%);
    left: 26%;
}


.scroll{
    position: absolute;
    bottom: 12%;
    left: 43%;
    z-index: 5;
}

.scroll p{
    font-size: 1.5rem;
}

#Objects{
    position: absolute;
    bottom: 10%;
}

.myNameSection{
    position: absolute;
    overflow: hidden;
    bottom: 30%;
    transform: translateY(50%);
    width: 100vw;
    /* position: relative; */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent line breaks */
}

.myNameSection h1{
    font-size: 4rem;
    width: fit-content;
    display: inline-block;
    white-space: nowrap; /* Keep text on one line */
    font-weight: 800;
    animation: scrollLeft 25s linear infinite; /* Infinite scrolling animation */
    position: relative;
    color:#fbfbfb;
}

.dash{
    width: 3rem;
    height: 4.5rem;
    filter: invert(1); 
    vertical-align: middle;
}



/*
Duplicate the text with a pseudo-element
.myNameSection h1::before {
    content: attr(innerText);  Repeat the same text 
    position: absolute;
    left: 100%; /* Start right after the original text 
    white-space: nowrap;
}

 Animation for scrolling text 
@keyframes scrollLeft {
    from {
        transform: translateX(0%); /* Start off-screen to the right 
    }
    to {
        transform: translateX(-100%); /* Move to the left until off-screen 
    }
}
*/

/*------------ About Me Section -------------**/

.AboutMe{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color:  rgb(43, 93, 111);
    /* background-color: rgb(219, 219, 219); */
    color: rgb(247, 247, 247);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
    position: relative;
    z-index: 2;
}

.me-section {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    position: relative;
}

.me-section p {
    width: 30%;
    margin: 0; 
    text-align: left; 
    transform: translateY(-20%);
}
.me-section h1 {
    width: 65%; 
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0; 
    text-align: left;
    color: rgb(57, 57, 57);
}

.me-section p{
    color: rgb(57, 57, 57);
}

.aboutMe-link{
    transform: translateY(180%);
    padding-right: 5rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 1; 
}

.about-link{
    text-decoration: none;
}

.text{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 5rem;
    align-items: center;
}



/*------------ TABLE SECTION -------------**/

.work{
    position: relative;
    height: auto;
    font-family: 'Avenir-light';
    /* background-color: #fefefe; */
}

.table1{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    position: relative;
}



.table1 table {
    width: 90%;
    border-collapse: collapse; /* Ensures borders don't double up */
}

.tech-stack{ 
    width: 30%;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-20%);
    /* border: 1px solid red; */
}

.amaranth-tech{
    width: 30%;
}


.tech{
    text-align: end;
}

#tech-names{
    color: #9c9c9c;
}


.table1 tbody{
    display: flex;
    flex-direction: column;
}



.table1 tr {
    border-bottom: 1.3px solid rgb(206, 206, 206); 
}

.table1 p{
    color: rgb(57, 57, 57);
    display: flex;
    flex-direction: row;
}

.table1 tr:hover{
    cursor: pointer;
}

.table1 tbody td .Link{
    width: 50%;
}

.table2 p{
    color: rgb(57, 57, 57);
}

.table1 th {
    text-align: left; 
    padding: 3rem 5%;
    border-bottom: 1px solid  rgb(206, 206, 206);
    color:#777777;
    font-weight:bolder;
    cursor:crosshair;
}


.table1 tbody td{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%; 
    padding-right: 5%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color:rgb(49, 49, 49);
}

.table1 .name-move-left{
    font-size: 4.5rem;
    font-weight: 600;
}

.table .work-move-left{
    font-size: 1rem;
}

.table1 .move-right{
    font-size: 1.1rem;
}

.table2 .move-left{
    font-size: 4.5rem;
    font-weight: 600;
}


/* Hover effect */
.table1 tr:hover .work-move-left,
.table1 tr:hover .name-move-left {
    color: rgb(118, 140, 150);
    transform: translateX(-10px);
    transition: transform 0.5s ease, color 0.5s ease;
}

/* Hover effect */
.table1 tr:hover .tech,
.table1 tr:hover #tech-names{
    transform: translateX(10px); 
    transition: transform 0.5s ease; 
    color: /*#838383*/ rgb(118, 140, 150); 
}



/* ------- TABLE 2 ----------*/
    .table2{
        display: flex;
        justify-content: center;
        padding-top: 10%;
        position: relative;
        margin-bottom: 10rem;
    }


    .table2 table {
        width: 90%;
        border-collapse: collapse; /* Ensures borders don't double up */
    }


    .table2 tbody{
        display: flex;
        flex-direction: column;
    }



    .table2 tr {
        border-bottom: 1.3px solid rgb(206, 206, 206); 
    }

    .table2 p{
        color: rgb(57, 57, 57);
        display: flex;
        flex-direction: row;
    }

    .table2 tr:hover{
        cursor: pointer;
    }

    .table2 tbody td .Link{
        width: 50%;
    }

    .table2 p{
        color: rgb(57, 57, 57);
    }

    .table2 th {
        text-align: left; 
        padding: 3rem 5%;
        border-bottom: 1px solid  rgb(206, 206, 206);
        color:#777777;
        font-weight:bolder;
        cursor:crosshair;
    }


    .table2 tbody td{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%; 
        padding-right: 5%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        color:rgb(49, 49, 49);
    }

    .table2 .name-move-left{
        font-size: 4.5rem;
        font-weight: 600;
    }

    .table2 .work-move-left{
        font-size: 1rem;
    }

    .table2 .move-right{
        font-size: 1rem;
    }

    .table2 .move-left{
        font-size: 4.5rem;
        font-weight: 600;
    }

    .table2 .move-right{
        font-size: 1.1rem;
    }


    /* Hover effect */
    .table2 tr:hover .work-move-left,
    .table2 tr:hover .name-move-left {
        color: rgb(118, 140, 150);
        transform: translateX(-10px);
        transition: transform 0.5s ease, color 0.5s ease;
    }

    /* Hover effect */
    .table2 tr:hover .tech,
    .table2 tr:hover #tech-names{
        transform: translateX(10px); 
        transition: transform 0.5s ease; 
        color: /*#838383*/ rgb(118, 140, 150); 
    }




/* --------- EXTRA WORK SECTION-------------*/

.videos{
    height: auto;
    margin-top: 5rem;
}

.box{
    width: 5rem;
    height: 4rem;
    margin-right: 1rem;
}

.box + .box{
    margin-left: 1rem;
}

.first-row{
    display: flex;
    /* padding-left: 1rem; */
}

.second-row{
    display: flex;
    margin-top: 0.5rem;
    justify-content: flex-end;
}

.one{
    background-color: rgba(201, 207, 208, 0.656);
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-bottle{
    width: 85%;
    height: 100%;
    transform: scaleY(1.2); 
}

.two{
    background-color: rgba(203, 208, 207, 0.707);
    display: flex;
    justify-content: center;
    align-items: center;
}

.singer{
    width: 85%;
    height: 100%;
    transform: scaleY(1.2); 
}

.three{
    background-color: rgba(206, 207, 200, 0.665);
    display: flex;
    justify-content: center;
    align-items: center;
}

.H-scroll{
    width: 85%;
    height: 100%;
    transform: scaleY(1.2); 
}


.four{
    background-color: rgba(205, 201, 200, 0.707);
    display: flex;
    justify-content: center;
    align-items: center;
}

.split{
    width: 85%;
    height: 100%;
    transform: scaleY(1.2);
}

.five{
    background-color: rgba(200, 203, 206, 0.709);
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-scroll{
    width: 85%;
    height: 100%;
    transform: scaleY(1.2);
}

.six{
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelView{
    width: 85%;
    height: 100%;
    transform: scaleY(1.2);
}






/* ---------  Media Query -------------*/



/* phones */
@media (min-width: 381px) and (max-width: 600px) {
    .banner h3{
        font-size: 1rem;
    }
    
    .flex{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 50%;
    }
    
    .banner-text{
        max-width: 55%;
        position: relative;
        text-align: left;  
    }

    .myNameSection{
        bottom: 10%;
        transform: translateY(50%);
    }
    
    .myNameSection h1{
        font-size: 4.5rem;
        font-weight: 800;
    }
    
    .circle{
        width: 0.9rem;
        height: 0.9rem;
    }

    /*------------ About Me Section -------------**/

    .AboutMe{
        width: 7rem;
        height: 7rem;
        font-size: 0.8rem;
        transform: translateY(-50%);
        transform: translateX()
    }

    .about-me{
        padding-top: 4rem;
    }

    .me-section {
        padding-top: 0.5rem;
    }

    .text{
        display: flex;
        flex-direction: column;
    }
    
    .me-section p {
        width: 95%;
        margin: 0; 
        text-align: left; 
        transform: translateY(20%);
        font-size: 1rem;
    }
    .me-section h1 {
        width: 95%; 
        font-size: 1rem;
        margin: 0; 
    }
    
    .me-section p{
        color: rgb(57, 57, 57);
    }
    
    .aboutMe-link{
        transform: translateY(180%);
        padding-right: 1rem;
        right: 0;
        z-index: 1; 
    }
    
    .about-link{
        text-decoration: none;
    }
    
    .text{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 5rem;
        align-items: center;
    }
    
    /*------------ TABLE SECTION -------------**/

    .table1{
        display: flex;
        justify-content: center;
        padding-top: 10%;
        position: relative;
    }

    .table1 .name-move-left{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .table1 .work-move-left{
        font-size: 0.7rem;
    }
    
    .table1 .move-right{
        font-size: 0.6rem;
    }

    .tech-stack{ 
        width: 40%;
        display: flex;
        justify-content: flex-end;
        transform: translateY(-20%);
        /* border: 1px solid red; */
    }

    .table1 tbody td .Link{
        width: 60%;
    }

    .table1 tbody td{
        padding-left: 5%; 
        padding-right: 5%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .table1 th {
        padding: 1.5rem 5%;
    }
    

    /* ------- Table ---------- 2*/
    .table2{
        padding-top: 10%;
        margin-bottom: 5rem;
    }

    .table2 .name-move-left{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .table2 .work-move-left{
        font-size: 0.7rem;
    }
    
    .table2 .move-right{
        font-size: 0.6rem;
    }

    .tech-stack{ 
        width: 40%;
        display: flex;
        justify-content: flex-end;
        transform: translateY(-20%);
        /* border: 1px solid red; */
    }

    .table2 tbody td .Link{
        width: 60%;
    }

    .table2 tbody td{
        padding-left: 5%; 
        padding-right: 5%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .table2 th {
        padding: 1.5rem 5%;
    }
    
    
    /* --------- EXTRA WORK SECTION-------------*/

    .videos{
        height: auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .box:not(:last-of-type){
        margin-right: 0.3rem;
    }

    .box:last-of-type{
        margin-right: 0;
        padding-right: 0;
    }

    .one{
        width: 6rem;
        height: 5rem;
    }

    .two{
        width: 6rem;
        height: 5rem;
    }

    .three{
        width: 6rem;
        height: 5rem;
    }

    .four{
        width: 6rem;
        height: 5rem;
    }

    .five{
        width: 6rem;
        height: 5rem;
    }

    .six{
        width: 6rem;
        height: 5rem;
    }

    .box + .box{
        margin-left: 0.2rem;
    }

    .second-row{
        margin-top: 0.5rem;
    }

    .my-bottle{
        width: 85%;
        height: 100%;
        transform: scaleY(1.3); 
    }

    .singer{
        width: 85%;
        height: 100%;
        transform: scaleY(1.3); 
    }

    .H-scroll{
        width: 85%;
        height: 100%;
        transform: scaleY(1.3); 
    }
    
    .split{
        width: 85%;
        height: 100%;
        transform: scaleY(1.3);
    }
    
    .v-scroll{
        width: 85%;
        height: 100%;
        transform: scaleY(1.3);
    }
    
    .modelView{
        width: 85%;
        height: 100%;
        transform: scaleY(1.3);
    }
    
}



/* Tablets */
@media (min-width: 601px) and (max-width: 768px) {
    .banner h3{
        font-size: 1.5rem;
    }
    
    .flex{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 40%;
    }
    
    .banner-text{
        max-width: 55%;
        position: relative;
        text-align: left;  
    }

    .myNameSection{
        bottom: 13%;
        transform: translateY(50%);
    }
    
    .myNameSection h1{
        font-size: 6rem;
        font-weight: 800;
    }
    
    .circle{
        width: 0.9rem;
        height: 0.9rem;
    }
}



@media (min-width: 769px) and (max-width: 900px) {
    .banner h3{
        font-size: 1.6rem;
    }
    
    .flex{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 40%;
    }
    
    .banner-text{
        max-width: 50%;
        position: relative;
        text-align: left;  
    }

    .myNameSection{
        bottom: 13%;
        transform: translateY(50%);
    }
    
    .myNameSection h1{
        font-size: 8rem;
        font-weight: 800;
    }
    
    .circle{
        width: 1rem;
        height: 1rem;
    }
}


@media (min-width: 901px) {
    .banner h3{
        font-size: 2rem;
    }
    
    .flex{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 40%;
    }
    
    .banner-text{
        max-width: 35%;
        position: relative;
        text-align: left;  
    }

    .myNameSection{
        bottom: 15%;
        transform: translateY(50%);
    }
    
    .myNameSection h1{
        font-size: 10rem;
        font-weight: 800;
    }
    
    .circle{
        width: 1.2rem;
        height: 1.2rem;
    }

    .banner h3{
        font-size: 1.6rem;
    }

    .table1 td .move-left{
        font-size: 4.5rem;
        font-weight: 600;
    }

    .table1 td p{
        font-size: 1.5rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .table2 td .move-left{
        font-size: 4.5rem;
        font-weight: 600;
    }

    .table2 td p{
        font-size: 1.5rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .videos{
        height: 100vh;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }


    .box{
        width: 25rem;
        height: 18rem;
    }

    .second-row{
        margin-top: 1.5rem;
    }
}