@font-face {
    font-family: 'Avenir-light'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-book'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-medium'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-Roman'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black'; /* Name you want to use for the font */
    src: url('../Fonts/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* ----------------------- Main --------------------------- */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    scroll-behavior: auto;
}

Link .button{
    cursor: pointer;
}

.back-button{
    padding-top: 1rem;
}


.home-link{
    margin-left: 1rem;
    margin-bottom: 5rem;
}

.link-to-home{
    text-decoration: none;
}

.link-to-home h1{
    padding: 0.5rem 0.5rem; 
    position: relative;
    border: 1px solid black;
    background-color: white;
    color: rgb(41, 41, 41);
    border-radius: 25px;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.link-to-home:focus, .link-to-home:active {
    outline: none;       
    text-decoration: none;
}


/* Underline effect on hover and click */
.link-to-home h1:after {
    content: '';
    position: absolute;
    bottom: 0.4rem;
    left: 14px;
    width: 0;
    transform: translateX(-2%);
    height: 1px; 
    background-color: rgb(41, 41, 41);
    transition: width 0.3s ease; 
  }

  .link-to-home h1:hover::after {
    width: 80%;
  }

.home-link {
   padding-top: 7rem;
    color: rgb(96, 96, 96);
}

.home-link h1{
    cursor: pointer !important;
}

 
 .amaranth .navigation {
     background-color: #060606; /* Custom navbar color for Amaranth page */
   }
 
 .heading{
     width: 80%;
     margin: 0 auto;
     padding-top: 3rem;
     padding-bottom: 8rem;
 }
 
 .heading hr{
     /* width: 60%; */
     border: 0.01rem solid #89898983;
 }
   
 .heading h2{
     font-size: 5rem;
     font-weight: 600;
     color:#171717;
 }
 
 .project-about-section{
     display: flex;
     align-items: top;
     margin-top: 4rem;
 }

  
 .project-about-section p{
   color:rgb(40, 40, 40);
}
 
 .about-prussian{
     width: 60%;
 }
 
 .about-prussian p{
     width: 80%;
     padding-top: 1rem;
 }
 
 .about-prussian hr{
     width: 80%;
 }

 hr{
    height: 0,0625rem;
    background-color: #cdcdcd;
 }
 
 .prussian-role{
     display: block;
     width: 40%;
     padding-top: 1rem;
 }
 
 .prussian-role-heading{
     color:#898989;
     font-size: 0.9rem;
 }
 
 .role hr{
     width: 50%;
 }
 
 .horizontal-line{
     padding-top: 1.5rem;
 }
 
 .role-text{
     padding-top: 1.5rem;
 }
 
 .arrow{
     width: 1.1rem;
     position: absolute;
     right: 20%;
     transform: rotate(-50deg);
     filter: invert(1);
 }
 
 
 .site{
     width: 11rem;
     height: 11rem;
     border-radius: 50%;
     background-color:  rgb(43, 93, 111);
     /* background-color: rgb(219, 219, 219); */
     color: rgb(247, 247, 247);
     display: flex; 
     justify-content: center; 
     align-items: center; 
     text-align: center;
     font-size: 1rem;
     cursor: pointer;
     transform: translateY(-50%);
     position: relative;
     z-index: 2;
 }
 
 .visit-site{
     transform: translateX(-40%);
     margin-top: 5rem;
     /* transform: translateY(30%); */
     padding-right: 5rem;
     position: absolute;
     cursor: pointer;
     position: absolute;
     right: 0;
     z-index: 1; 
     overflow: visible;
 }
 
 .prussian-model{
     margin: 0 auto; 
     margin-top: 5rem;
     width: 100vw; 
     height: 100vh; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     position: relative;
     background-color: #838d98; 
     overflow: visible;
 }

 .prussian-model main{
    overflow: visible;
 }


 .spline-prussian{
    transform: translateY(-10%);
    transform: scale(1.9); 
    padding-left: 1rem;
 }




/* ------- Prussian details ----------- */


 .prussian-problem{
    display: flex;
    background-color: /*rgb(138, 162, 171)*/ #e8e9ea;
}

.prussian-problem h2,
.prussian-problem p{
    color:rgb(40, 40, 40);
}

.prussian-text{
    display: flex;
    flex-direction: column;
}

.p-video{
    width: 50%;
    margin-left: 2rem;
}

.pru-video{
    width: 50%;
    margin-right: 2rem;
}

.prussian-cart{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    border: /*#bcbcbc*/  #9da9b5 5px solid;
    border-radius: 2%;
}

.prussian-backend{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    border: /*#bcbcbc*/ #bcc7cd 5px solid;
    border-radius: 2%;
}


.old-prussian{
    display: flex;
    padding-top: 10rem;
    background-color: /*rgb(138, 162, 171)*/ #e8e9ea;
    display: flex;
    flex-direction: column;
}

.new-prussian{
    display: flex;
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-color: /*rgb(138, 162, 171)*/ #e8e9ea;
    display: flex;
    flex-direction: column;
}

.old-prussian p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 5rem;
    font-size: 1.1rem;
    /* text-align: center; */
}


.old-prussian h2{
    padding: 2rem;
    font-size: 2rem;
}

.new-prussian h2{
    padding: 2rem;
    font-size: 2rem;
    margin-left: auto;
}

.top-section{
    display: flex;
}

.prussian-top-section{
    display: flex;
}

.paragraph-prussian{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.paragraph-prussian p{
    display: flex;
    width: 80%;
    font-size: 1.1rem;
}


/* --------- Mobile devices --------- */
.prussian-mobile-devices{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80vh;
    /* background-color: #838d98; */
}

.prussian-responsive-layout{
    height: auto;
    margin-bottom: 5rem;
    /* border: #fe0c0c 1px solid; */
}

.prussian-responsive-layout h1{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    color:rgb(246, 246, 246);
    padding-top: 4rem;
}

.prussian-cart-model{
    transform: translateX(15%);
}




/*--------- Media queries ----------*/

/* phones */
@media (min-width: 320px) and (max-width: 600px) {
    .home-link{
        margin-left: 1rem;
        margin-bottom: 3rem;
    }

    .link-to-home h1{
        padding: 0.4rem 0.3rem; 
        width: 8rem;
        font-size: 0.8rem;
    }

    .heading{
        width: 80%;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .heading h2{
        font-size: 2.5rem;
        font-weight: 600;
    }
    
    .about-prussian{
        width: 100%;
    }
    
    .about-prussian p{
        width: 100%;
        font-size: 0.9rem;
    }

    .about-prussian hr{
        width: 90%;
    }

    .prussian-role{
        display: block;
        width: 100%;
        margin-top: 3rem;
    }

    .prussian-role-heading{
        font-size: 0.8rem;
    }

    .role-text{
        padding-top: 1.5rem;
        font-size: 0.9rem;
    }

    .arrow{
        width: 0.8rem;
        right: 8%;
    }
    
    
    .site{
        width: 7rem;
        height: 7rem;
        transform: translateY(-50%);
    }

    .site p{
        font-size: 0.8rem;
    }
    
    .visit-site{
        transform: translateX(50%);
        margin-top: 5rem;
        padding-right: 5rem;
        right: 0;
        overflow: visible;
    }

    .p-video{
        width: 80%;
        margin-left: 2rem;
    }

    .prussian-cart{
        width: 100%;
        height: 100%;
        margin-left: 0rem;
    }

    .prussian-backend{
        width: 100%;
        height: 100%;
        margin-right: 0rem;
    }
    
    .old-prussian{
        padding-top: 5rem;
    }

    .new-prussian{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .old-prussian p{
        width: 90%;
        padding-left: 2rem;
        font-size: 0.9rem;
        margin-top: 2rem;
    }

    .old-prussian h2{
        padding: 2rem;
        font-size: 1.5rem;
    }
    
    .new-prussian h2{
        padding: 2rem;
        padding-top: 0;
        font-size: 1.5rem;
    }

    .top-section{
        display: flex;
    }
    
    .prussian-top-section{
        display: flex;
        flex-direction: column;
    }

    .paragraph-prussian{
        width: 80%;
        margin-left: 2rem;
        padding-bottom: 2rem;
    }
    
    
    .paragraph-prussian p{
        display: flex;
        width: 100%;
        font-size: 0.9rem;
    }

}



/* Tablets */
@media (min-width: 601px) and (max-width: 768px) {
    .home-link{
        margin-left: 1rem;
        margin-bottom: 3rem;
    }

    .link-to-home h1{
        padding: 0.5rem 0.5rem; 
        width: 8rem;
        font-size: 0.9rem;
    }

    .heading{
        width: 80%;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .heading h2{
        font-size: 2.5rem;
        font-weight: 600;
    }
    
    .about-prussian{
        width: 100%;
    }
    
    .about-prussian p{
        width: 100%;
        font-size: 0.9rem;
    }

    .about-prussian hr{
        width: 90%;
    }

    .prussian-role{
        display: block;
        width: 100%;
        margin-top: 3rem;
    }

    .prussian-role-heading{
        font-size: 0.8rem;
    }

    .role-text{
        padding-top: 1.5rem;
        font-size: 0.9rem;
    }

    .arrow{
        width: 0.8rem;
        right: 20%;
    }
    
    
    .site{
        width: 9rem;
        height: 9rem;
        transform: translateY(-60%);
    }

    .site p{
        font-size: 0.8rem;
    }
    
    .visit-site{
        transform: translateX(50%);
        margin-top: 5rem;
        padding-right: 5rem;
        right: 0;
        overflow: visible;
    }

    .p-video{
        width: 80%;
        margin-left: 2rem;
    }

    .prussian-cart{
        width: 100%;
        height: 100%;
        margin-left: 0rem;
    }

    .prussian-backend{
        width: 100%;
        height: 100%;
        margin-right: 0rem;
    }
    
    .old-prussian{
        padding-top: 5rem;
    }

    .new-prussian{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .old-prussian p{
        width: 90%;
        padding-left: 2rem;
        font-size: 0.9rem;
        margin-top: 2rem;
    }

    .old-prussian h2{
        padding: 2rem;
        font-size: 2rem;
    }
    
    .new-prussian h2{
        padding: 2rem;
        padding-left: 0;
        margin-left: 2rem;
        padding-top: 0;
        font-size: 2rem;
        margin-right: auto;
    }

    .top-section{
        display: flex;
    }
    
    .prussian-top-section{
        display: flex;
        flex-direction: column;
    }

    .paragraph-prussian{
        width: 80%;
        margin-left: 2rem;
        padding-bottom: 2rem;
    }
    
    
    .paragraph-prussian p{
        display: flex;
        width: 100%;
        font-size: 0.9rem;
    }

}



@media (min-width: 769px) and (max-width: 1110px) {
    .project-about-section{
        display: flex;
        flex-direction: row;
    }
    
    .home-link{
        margin-left: 1rem;
        margin-bottom: 3rem;
    }

    .link-to-home h1{
        padding: 0.5rem 0.5rem; 
        width: 8rem;
        font-size: 0.9rem;
    }

    .heading{
        width: 80%;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .heading h2{
        font-size: 3.8rem;
        font-weight: 600;
    }
    
    .about-prussian{
        width: 100%;
        margin-top: 0;
        padding-top: 0;
    }
    
    .about-prussian p{
        width: 100%;
        font-size: 0.9rem;
    }

    .about-prussian hr{
        width: 90%;
    }

    .prussian-role{
        display: block;
        width: 100%;
        margin-top: 0rem;
        margin-left: 3rem;
    }

    .prussian-role-heading{
        font-size: 0.8rem;
    }

    .role-text{
        padding-top: 1.5rem;
        font-size: 0.9rem;
    }

    .arrow{
        width: 0.8rem;
        right: 20%;
    }
    
    
    .site{
        width: 9rem;
        height: 9rem;
        transform: translateY(-60%);
    }

    .site p{
        font-size: 0.8rem;
    }
    
    .visit-site{
        transform: translateX(50%);
        margin-top: 5rem;
        padding-right: 5rem;
        right: 0;
        overflow: visible;
    }

    .p-video{
        width: 80%;
        margin-left: 2rem;
    }

    .prussian-cart{
        width: 100%;
        height: 100%;
        margin-left: 0rem;
    }

    .prussian-backend{
        width: 100%;
        height: 100%;
        margin-right: 0rem;
    }
    
    .old-prussian{
        padding-top: 5rem;
    }

    .new-prussian{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .old-prussian p{
        width: 90%;
        padding-left: 2rem;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .old-prussian h2{
        padding: 2rem;
        font-size: 2.5rem;
    }
    
    .new-prussian h2{
        padding: 2rem;
        padding-left: 0;
        margin-left: 2rem;
        padding-top: 0;
        font-size: 2.5rem;
        margin-right: auto;
    }

    .top-section{
        display: flex;
    }
    
    .prussian-top-section{
        display: flex;
        flex-direction: column;
    }

    .paragraph-prussian{
        width: 80%;
        margin-left: 2rem;
        padding-bottom: 2rem;
    }
    
    
    .paragraph-prussian p{
        display: flex;
        width: 100%;
        font-size: 1rem;
    }

}